* {
    margin:0;
    padding: 0;
}
body{
    background-color: #C2E7D9;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 9vmin;
    color: #0D0221;  
    background-color: a6cfd5; 
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0F084B;
    border-radius: 1rem;
    border: none;
    color: #C2E7D9;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0F084B;
    border-radius: 1rem;
    border: none;
    color: #C2E7D9;
}
#msg{
    color:#0F084B;
    font-size: 8vmin;
}
.msg-container{
    height: 20vmin;
}
.hide{
    display: none;
}